.dashboard {
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: #fff;
    /* width: 100%; */
    min-height: 100vh;
    /* height: 100%; */
    overflow-x: hidden; 
  }

.content{
  margin-top: 130px;
}

.no-padding{
  padding-top: 0px;
  margin-top: 0px;
}