

    <main class="dashboard-content container my-4">
        <section class="Popular movie">
            <h2 class="pd"><b>Related to Your Search...</b></h2>
            <div class="row row-cols-1 row-cols-md-3 g-4 movie-slider">
                <div class="card-slider col">
                    <ng-container *ngIf="searchResults.length > 0; else notFound">
                        <div *ngFor="let movie of searchResults" class="slide">
                            <div class="movie-card bg-dark text-white">
                                <a [routerLink]="['/detail', movie.id]">
                                    <img [src]="movie.poster_path ? getImageUrl(movie.poster_path) : 'assets/no-image.jpg'"
                                        class="card-img-top" alt="{{ movie.original_title }}" />
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ movie.original_title }}</h5>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    
                    <ng-template #notFound>

                        <div><img src="assets/no_data_found.png" alt=""></div>
 
                    </ng-template>
                </div>
            </div>
        </section>
    </main>


    <main class="dashboard-content container my-4">
        <section class="Popular movie">
            <h2 class="pd"><b>You May Like...</b></h2>
            <div class="row row-cols-1 row-cols-md-3 g-4 movie-slider">
                <div class="card-slider col">
                    <div *ngFor="let movie of topMovies" class="slide">
                        <div class="movie-card bg-dark text-white">
                            <a [routerLink]="['/detail', movie.id]">
                                <img [src]="movie.poster_path ? getImageUrl(movie.poster_path) : 'assets/no-image.jpg'"
                                    class="card-img-top" alt="{{ movie.original_title }}" />
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ movie.original_title }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

